# Note that Pinax was used by the original WikiTrans website, but has
# not yet been integrated. Several libraries have yet to be
# integrated.
--find-links=http://pypi.pinaxproject.com
--find-links=http://pypi2.pinaxproject.com

# Temporary fix to python-yadis, since it doesn't appear in PyPI
http://static.crossway.org/_tmp/python-yadis-1.1.0.tar.gz #
simplejson>=2.0.9

django-uni-form>=0.6.0

wikipydia>=0.1.4
goopytrans>=0.1.1
nltk==2.0b7
polib==0.5.3
BeautifulSoup>=3.0
apyrtium>=0.1

# ISO-639 conversion
pycountry>=0.12.1
